<div class="flex-1 card max-w-120 w-full">
    <div class="h-full card-content flex flex-col justify-between">
        <div>
            <div class="flex items-center gap-3 mb-4 text-red-500">
                <img src="{{ q.icon }}" alt="">
                <h3 class="h3">{{q.title}}</h3>
            </div>
            <p class="text-sm text-neutral-800">{{q.description}}</p>
        </div>
        
        <div class="flex flex-wrap items-center mt-4 gap-2">
            {% for c in q.tags %}
                <span class="badge">{{c}}</span>
            {% endfor %}

        
        </div>
    </div>
</div>