{% extends "base.html" %}
{% load static %}
{% block body %}
{% include "partials/toast.html" %}

<script>
    {% if messages %}
        document.addEventListener('DOMContentLoaded', () => {
            {% for message in messages %}
                toast('{{ message }}', { type: '{{ message.tags }}' });
            {% endfor %}
        })
    {% endif %}
window.addEventListener('offline', () => {
    toast('You are offline', { type: 'error' });
})

window.addEventListener('online', () => {
    toast('Back online', { type: 'success' });
})
</script>

<div x-data="main()" class="h-dvh flex flex-col">
    <header class="bg-white border-b border-neutral-200 z-20">
        <div class="flex items-center justify-between h-full py-2 px-4 mx-auto">


            <div class="flex gap-2 md:gap-3">
                <button class="lg:hidden btn border-none bg-white p-1.5 aspect-square" @click="sidebar = !sidebar;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
                </button>
                {% include "brand.html" %}
            </div>

            <div class="flex gap-3 items-center">
                <nav class="hidden md:block">
                    <ul class="flex items-center gap-1">

                        <li><a href="#" class="btn-link">
                            <lord-icon
                                src="https://cdn.lordicon.com/biqqsrac.json"
                                trigger="hover"
                                style="width:20px;height:20px">
                            </lord-icon>
                            Get Help</a>
                        </li>
                        <li x-data="{ open: false }" class="relative"><a @click="open = !open" href="#" class="btn-link p-1.5">
                            <lord-icon
                                src="https://cdn.lordicon.com/ahxaipjb.json"
                                trigger="hover"
                                style="width:24px;height:24px">
                            </lord-icon>
                            </a>
                            <div class="absolute top-0.5 right-0.5 w-2 h-2 bg-red-500 rounded-full"></div>
                            <div x-show="open" @click.outside="open = false" class="absolute origin-top top-15 right-0 w-60 sm:w-80 bg-white border border-neutral-200 rounded-xl shadow-md"
                                x-transition:enter="ease-out duration-200"
                                x-transition:enter-start="scale-y-50 opacity-0"
                                x-transition:enter-end="scale-y-100 opacity-100"
                                x-cloak>
                                <div class="p-2">
                                    <p class="font-semibold p-3">Notifications</p>
                                    <div class="flex flex-col gap-2 p-2 border-t border-neutral-200">
                                        {% for n in notifications %}
                                            <div class="flex items-center gap-2">
                                                <div class="h-2 w-2 rounded-full" style="background-color: {{ n.color }};"></div>
                                                <p>{{ n.message }}</p>
                                            </div>

                                        {% empty %}
                                            <p class="text-sm text-neutral-600 py-4">No notifications</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>


                    </ul>
                </nav>
                <div x-data="{ open: false }" class="relative">
                    <div @click="open = !open;" class="w-9 h-9 border border-neutral-300 rounded-full overflow-hidden">
                        <img src="https://placehold.co/36/e0e0e0/b0b0b0?text={{ user.first_name|slice:':1'|upper }}" alt="">
                    </div>
                    <div x-show="open" @click.outside="open = false"
                            x-transition:enter="ease-out duration-200"
                            x-transition:enter-start="scale-y-50 opacity-0"
                            x-transition:enter-end="scale-y-100 opacity-100"

                    class="absolute origin-top right-0 mt-6 w-60 lg:w-72 bg-white border border-neutral-200 rounded-xl shadow-lg overflow-hidden z-10 flex flex-col gap-2 p-2" style="display: none;">
                        <div class="py-3 px-4">
                            <p class="font-semibold">{{ user.first_name }} </p>
                            <p class="text-sm text-neutral-600">{{ user.email }}</p>
                            <div class="mt-2 flex items-center gap-2">
                                {% if user.subscription.plan == 'free' %}
                                    <p class="text text-yellow-600">Free plan</p> <span class="text-sm text-neutral-600">{{ user.subscription.days_left }} days left</span>
                                {% elif user.subscription.plan == 'business' %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="stroke-blue-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-icon lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
                                    <p class="text text-blue-600">Business plan</p> <span class="text-sm text-neutral-600">{{ user.subscription.days_left }} days left</span>
                                    
                                {% elif user.subscription.plan == 'custom' %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="stroke-blue-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-tool-case-icon lucide-tool-case"><path d="M10 15h4"/><path d="m14.817 10.995-.971-1.45 1.034-1.232a2 2 0 0 0-2.025-3.238l-1.82.364L9.91 3.885a2 2 0 0 0-3.625.748L6.141 6.55l-1.725.426a2 2 0 0 0-.19 3.756l.657.27"/><path d="m18.822 10.995 2.26-5.38a1 1 0 0 0-.557-1.318L16.954 2.9a1 1 0 0 0-1.281.533l-.924 2.122"/><path d="M4 12.006A1 1 0 0 1 4.994 11H19a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z"/></svg>
                                    <p class="text text-blue-600">Custom plan</p> <span class="text-sm text-neutral-600">{{ user.subscription.days_left }} days left</span>

                                {% endif %}
                            </div>
                        </div>
                        <div class="border-t border-neutral-200"></div>
                        <a href="#" class="btn-link">
                            <lord-icon
                                src="https://cdn.lordicon.com/bushiqea.json"
                                trigger="hover"
                                style="width:20px;height:20px">
                            </lord-icon>
                            Profile</a>
                        <a href="#" class="btn-link">
                            <lord-icon
                                src="https://cdn.lordicon.com/asyunleq.json"
                                trigger="hover"
                                style="width:20px;height:20px">
                            </lord-icon>
                            Settings</a>
                        <a href="{% url 'logout' %}" class="btn-link text-red-600">

                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg>
                            Logout</a>
                    </div>
                </div>
            </div>


        </div>
    </header>

    <div class="flex-1 flex transition-all">
        <div x-show="sidebar" @click="sidebar = false" class="lg:hidden absolute z-1 inset-0 bg-white/50 backdrop-blur-xs" x-transition style="display: none;"></div>
        <aside x-show="sidebar"
        class="origin-left absolute pt-14 lg:pt-4 lg:static inset-y-0 left-0 overflow-hidden bg-white border-r border-neutral-200 w-60 h-full z-2 transition-transform duration-300 ease-in-out"
        x-transition:enter="ease-out duration-200"
        x-transition:enter-start="scale-x-0"
        x-transition:enter-end="scale-x-100"
        x-transition:leave="ease-in duration-200"
        x-transition:leave-start="scale-x-100"
        x-transition:leave-end="scale-x-0"
        x-cloak>
        <div class="p-4">
            <div class="flex flex-col gap-4">
                <a href="/dashboard/" class="btn-link  {% if request.path == '/dashboard/' %} bg-neutral-100 {% endif %}">
                    <lord-icon
                        src="https://cdn.lordicon.com/oeotfwsx.json"
                        trigger="hover"
                        style="width:20px;height:20px">
                    </lord-icon>
                    Home
                </a>
                <a href="/settings/" class="btn-link {% if request.path == '/settings/' %} bg-neutral-100 {% endif %}">
                    <lord-icon
                        src="https://cdn.lordicon.com/asyunleq.json"
                        trigger="hover"
                        style="width:20px;height:20px">
                    </lord-icon>
                    Settings
                </a>
                <a href="/help/" class="btn-link {% if request.path == '/help/' %} bg-neutral-100 {% endif %}">
                    <lord-icon
                        src="https://cdn.lordicon.com/biqqsrac.json"
                        trigger="hover"
                        style="width:20px;height:20px">
                    </lord-icon>
                    Get Help
                </a>
            </div>
        </div>
            
        </aside>

        <section class="flex-1 overflow-y-auto h-[calc(100vh-64px)] bg-neutral-50">
            {% block content %}
                <div class="p-6 md:p-10 max-w-4xl">
                    <h1 class="h">Dashboard</h1>
                    <hr class="mb-8">

                    <div class="flex flex-col gap-6 mb-8">
                        <div class="flex items-center justify-between">
                            <h2 class="h2">Pages</h2>
                            <a href="{% url "fb_login" %}" class="btn text-sm py-1.5 px-3 flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                                Add Page
                            </a>
                        </div>
                        
                        <ul class="flex flex-col gap-2">
                            {% for page in pages %}
                                <li class="flex items-center justify-between gap-4">
                                    <a href="{% url "page" page.id %}" class="btn-link p-3">
                                        <img class="w-7 h-7 rounded-full" src="{{ page.picture }}" alt="">
                                        {{ page.page_name }}
                                    </a>
                                    <div class="flex items-center gap-2 sm:gap-4">
                                        <form action="{% url "page_toggle" page.id %}" method="POST">
                                            {% csrf_token %}
                                            <div x-data="{ switchOn: {% if page.enabled %} true {% else %} false {% endif %} }" class="flex items-center justify-center space-x-3">
                                                <input id="thisId" type="checkbox" name="switch" class="hidden" :checked="switchOn">

                                                <button 
                                                    x-ref="switchButton"
                                                    type="submit" 
                                                    @click="switchOn = ! switchOn"
                                                    :class="switchOn ? 'bg-neutral-900' : 'bg-neutral-200'" 
                                                    class="relative inline-flex h-4 py-[3px] ml-4 rounded-full focus:outline-none w-7"
                                                    x-cloak>
                                                    <span :class="switchOn ? 'translate-x-[15px]' : 'translate-x-[3px]'" class="w-[10px] h-[10px] duration-200 ease-in-out bg-white rounded-full"></span>
                                                </button>

                                                <label @click="$refs.switchButton.click(); $refs.switchButton.focus()" :id="$id('switch')" 
                                                    :class="{ 'text-neutral-900': switchOn, 'text-gray-400': ! switchOn }"
                                                    class="hidden sm:block text-xs font-medium select-none"
                                                    x-cloak>
                                                    {% if page.enabled %}
                                                        Enabled
                                                    {% else %}
                                                        Disabled
                                                    {% endif %}
                                                </label>
                                            </div>
                                        </form>
                                        <a href="{% url "page" page.id %}#settings" class="btn-link p-2">
                                            <lord-icon
                                                src="https://cdn.lordicon.com/asyunleq.json"
                                                trigger="hover"
                                                style="width:20px;height:20px">
                                            </lord-icon>
                                        </a>
                                    </div>
                                </li>
                            {% empty %}
                                <div class="py-12 flex flex-col items-center justify-center gap-4">
                                    <svg class="stroke-neutral-500" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-open-icon lucide-package-open"><path d="M12 22v-9"/><path d="M15.17 2.21a1.67 1.67 0 0 1 1.63 0L21 4.57a1.93 1.93 0 0 1 0 3.36L8.82 14.79a1.655 1.655 0 0 1-1.64 0L3 12.43a1.93 1.93 0 0 1 0-3.36z"/><path d="M20 13v3.87a2.06 2.06 0 0 1-1.11 1.83l-6 3.08a1.93 1.93 0 0 1-1.78 0l-6-3.08A2.06 2.06 0 0 1 4 16.87V13"/><path d="M21 12.43a1.93 1.93 0 0 0 0-3.36L8.83 2.2a1.64 1.64 0 0 0-1.63 0L3 4.57a1.93 1.93 0 0 0 0 3.36l12.18 6.86a1.636 1.636 0 0 0 1.63 0z"/></svg>
                                    <p class="text-neutral-500">No pages connected</p>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>

                    <div class="flex flex-col gap-4 mt-12">
                        <div  class="flex items-center justify-between">
                            <h2 class="h2">Using</h2>

                            <div x-data="{ open: false, options: {'today': 'Today', 'last-week': 'Last Week', 'last-month': 'Last Month'}, selected: '{{ request.GET.using }}' || 'last-month' }" class="relative">
                                <div @click="open = ! open" class="btn text-sm py-1.5 px-3 w-32 flex items-center justify-between gap-2">
                                    <span x-text="options[selected]"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                                </div>
                                <div x-show="open" @click.outside="open = false" x-transition class="absolute w-32 p-1 top-10 right-0 flex flex-col bg-white border border-neutral-200 rounded-lg shadow-md">
                                    <template x-for="(value, key) in options" :key="key">
                                        <a :href="'{% url "dashboard" %}?using='+key" class="btn-link text-sm" x-text="value"></a>
                                    </template>
                                </div>


                            </div>
                        </div>
                        <p class="info">You are using <span class="font-semibold text-neutral-800">{% if user.subscription.plan == 'free' %}7 days FREE trial {% elif user.subscription.plan == 'business' %}Business plan {% elif user.subscription.plan == 'enterprise' %}Enterprise plan{% endif %}</span></p>

                        
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-col gap-4">
                                <div class="flex items-center gap-2">
                                    <div class="overflow-hidden gap-0.5 flex h-2 w-full max-w-lg rounded-full bg-neutral-300">
                                        {% for item in using %}
                                            <div class="h-full" style="width: {{ item.percentage }}%; background-color: {{ item.color }};"></div>
                                        {% endfor %}

                                        
                                    </div>
                                    <p class="text-sm text-neutral-700">{{ total_ai_replies|default:"0" }}/{{ ai_replies_limit|default:"0" }} </p>
                                </div>
                                <div class="flex items-center flex-wrap gap-4 text-sm">
                                    {% for item in using %}
                                    <div class="flex items-center gap-2">
                                        <div class="h-2 w-2 rounded-full" style="background-color: {{ item.color }};"></div>
                                        <span class="font-medium">{{ item.name }}</span><span class="font-thin text-neutral-600 text-sm">{{ item.percentage }}%</span>
                                    </div>
                                    {% endfor %}
                                    <div class="flex items-center gap-2">
                                        <div class="h-2 w-2 rounded-full bg-neutral-300"></div>
                                        <span class="font-medium">Remaining</span><span class="font-thin text-neutral-600 text-sm">{{ remaining_using }}%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
        </section>
        
    </div>
</div>
{% endblock body %}

    {% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>

    {% endblock scripts %}