{% extends "base.html" %}
{% load static %}
{% block body %}
{% include "partials/toast.html" %}

<script>
    {% if messages %}
        document.addEventListener('DOMContentLoaded', () => {
            {% for message in messages %}
                toast('{{ message }}', { type: '{{ message.tags }}' });
            {% endfor %}
        })
    {% endif %}
window.addEventListener('offline', () => {
    toast('You are offline', { type: 'error' });
})

window.addEventListener('online', () => {
    toast('Back online', { type: 'success' });
})
</script>

<div x-data="main()" class="h-dvh overflow-hidden flex flex-col">
    <header class="lg:hidden fixed top-0 left-0 w-full bg-white/70 backdrop-blur-sm border-b border-neutral-200 z-[var(--z-header)]">
        <div class="flex items-center justify-between h-full py-3 px-4 mx-auto">
            {% include "core/partials/brand.html" %}

            <button class="lg:hidden btn border-none bg-white p-1.5 aspect-square" @click="sidebar = !sidebar;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
            </button>
        </div>
    </header>

    <div class="flex-1 flex transition-all">
        <div x-show="sidebar" @click="sidebar = false" class="lg:hidden overlay" x-transition x-cloak></div>
        <aside x-init="window.addEventListener('resize', () => { if(window.innerWidth > 1024) { sidebar = true; }else{ sidebar = false; } })"
            class="origin-left fixed p-4 pt-20 lg:pt-4 lg:static inset-y-0 left-0 overflow-hidden bg-neutral-50 border-r border-neutral-200 w-72 h-dvh z-[var(--z-sidebar)] transition-all duration-300 ease-in-out"
            :class="{ 'translate-x-0': sidebar, '-translate-x-full': !sidebar }"
            x-cloak>
            <div class="flex flex-col justify-between h-full">
                <div class="mb-6 hidden lg:block">
                    <div class="flex items-center justify-between gap-2">
                    {% include "core/partials/brand.html" %}

                    <button class="lg:hidden btn border-none p-1.5 aspect-square" @click="sidebar = !sidebar;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
                    </button>
                    </div>
                </div>

                <div class="flex-1 flex flex-col overflow-y-auto scrollbar-thin">
                    <div>
                        <div class=" flex flex-col border border-neutral-200 rounded-xl overflow-hidden p-1" x-data="{ open: false }">
                            <button  @click="open = ! open" class="btn-link justify-between">
                                    <div class="flex gap-2 items-center">
                                        <img src="{{ page.picture }}" alt="" class="w-5 h-5 rounded-full">
                                        {{ page.page_name }}
                                    </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                            </button>
                            <div x-show="open" x-collapse>
                                <div class="flex flex-col gap-2 mt-2">
                                    {% for p in user.get_pages %}
                                    {% if not p.id == page.id %}
                                        <a href="{% url 'overview' p.id %}" class="btn-link" >
                                            <div class="flex gap-2 items-center">
                                                <img src="{{ p.picture }}" alt="" class="w-5 h-5 rounded-full">
                                                {{ p.page_name }}
                                            </div>
                                        </a>
                                    {% endif %}
                                    {% empty %}
                                    <div class="px-4 py-2 flex items-center">
                                        <p class="text-sm text-neutral-600">No pages</p>
                                    </div>
                                    {% endfor %}
                                    <a href="{% url 'add_page' %}" class="btn-link">
                                        <div class="flex gap-2 items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                                            Add Page
                                        </div>
                                    </a>
                                </div>
                                    
                            </div>

                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="flex-1 ">
                        <div class="flex flex-col gap-2">
                            <a href="{% url "overview" page.id %}" class="btn-link sidebar-link">
                                <lord-icon
                                    src="https://cdn.lordicon.com/axroojxh.json"
                                    trigger="hover"
                                    target=".btn-link"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                Overview
                            </a>
                            <a href="{% url "analytics" page.id %}" class="btn-link sidebar-link">
                                <lord-icon
                                    src="https://cdn.lordicon.com/lrzdmsmx.json"
                                    trigger="hover"
                                    target=".btn-link"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                Analytics
                            </a>
                            <a href="{% url "conversations" page.id %}" class="btn-link sidebar-link">
                                <lord-icon
                                    src="https://cdn.lordicon.com/bpptgtfr.json"
                                    trigger="hover"
                                    target=".btn-link"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                Chats
                            </a>
                            <a href="{% url "settings" page.id %}" class="btn-link  sidebar-link">
                                <lord-icon
                                    src="https://cdn.lordicon.com/asyunleq.json"
                                    trigger="hover"
                                    target=".btn-link"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                Settings
                            </a>

                            <hr class="my-1">
                            
                            <a href="{% url "system_prompts" %}" class="btn-link sidebar-link">
                                <lord-icon
                                    src="https://cdn.lordicon.com/dutqakce.json"
                                    trigger="hover"
                                    target=".btn-link"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                System Prompts
                            </a>
                            <a href="{% url "buy_credits" %}" class="btn-link sidebar-link">
                                <lord-icon
                                    src="https://cdn.lordicon.com/apgkpdeb.json"
                                    trigger="hover"
                                    target=".btn-link"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                Buy Cradits
                            </a>
                            
                            <hr class="my-1">
                            <a href="/about/" class="btn-link sidebar-link">
                                <lord-icon
                                    src="https://cdn.lordicon.com/yhtmwrae.json"
                                    trigger="hover"
                                    target=".btn-link"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                About Us
                            </a>
                            <a href="/contact/" class="btn-link sidebar-link">
                                <lord-icon
                                    src="https://cdn.lordicon.com/wtywrnoz.json"
                                    trigger="hover"
                                    target=".btn-link"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                Contact
                            </a>
                            <a href="/help/" class="btn-link sidebar-link">
                                <lord-icon
                                    src="https://cdn.lordicon.com/biqqsrac.json"
                                    trigger="hover"
                                    target=".btn-link"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                Get Help
                            </a>
                        </div>
                    </div>
                </div>

                <script>
                    const links = document.querySelectorAll('.sidebar-link')
                    
                    links.forEach(link => {
                        if (link.href === window.location.href) {
                            link.classList.add('bg-gray-100')
                        }
                    })
                </script>
                
                <div x-data="{ open: false }" class="relative">
                    <button @click="open = ! open" class="p-3 flex items-center justify-between gap-2 btn-link w-full border-none no-underline rounded-xl bg-white hover:bg-neutral-100 active:bg-neutral-200">
                        <div class="flex items-center gap-2">
                            <img class="w-8 h-8 rounded-full" src="https://placehold.co/36/e0e0e0/b0b0b0?text={{ user.first_name|slice:':1'|upper }}" alt="">
                            <div class="flex flex-col items-start">
                                <p class="text-sm font-medium text-neutral-900">{{ user.first_name }} {{ user.last_name }}</p>
                                <p class="text-xs text-neutral-500">{{ user.email|truncatechars:20 }}</p>
                            </div>
                        </div>
                        <div class="py-0.5 px-1.5 bg-neutral-200 rounded-full flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-zap-icon lucide-zap"><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"/></svg>
                            <p class="text-xs text-neutral-800 font-medium">{{ user.credits_left }}</p>
                        </div>
                    </button>
                    <div x-show="open" @click.outside="open = false"
                        x-transition
                        class="absolute origin-top bottom-18 mt-6 w-full bg-white border border-neutral-200 rounded-xl shadow-lg overflow-hidden z-10 flex flex-col gap-2 p-2" style="display: none;">
                        <div class="py-3 px-4">
                            <p class="font-semibold">{{ user.first_name }} </p>
                            <p class="text-sm text-neutral-600">{{ user.email }}</p>
                            <div class="mt-2 flex items-center gap-2 font-medium">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-zap-icon lucide-zap"><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"/></svg>
                                {% if user.credits_left == 0 %}
                                <p class="text-red-600 text-sm">No Credits available</p>
                                {% elif user.credits_left < 10 %}
                                <p class="text-red-600 text-sm">Only {{ user.credits_left }} Cradits left</p>
                                {% else %}
                                <p class="text-black text-sm">{{ user.credits_left }} Cradits left</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="border-t border-neutral-200"></div>
                        <a href="{% url "buy_credits" %}" class="btn-link">
                            <lord-icon
                                src="https://cdn.lordicon.com/apgkpdeb.json"
                                trigger="hover"
                                target=".btn-link"
                                style="width:20px;height:20px">
                            </lord-icon>
                            Buy Cradits</a>
                        <a href="#" class="btn-link">
                            <lord-icon
                                src="https://cdn.lordicon.com/bushiqea.json"
                                trigger="hover"
                                target=".btn-link"
                                style="width:20px;height:20px">
                            </lord-icon>
                            Profile</a>
                        <a href="#" class="btn-link">
                            <lord-icon
                                src="https://cdn.lordicon.com/asyunleq.json"
                                trigger="hover"
                                target=".btn-link"
                                style="width:20px;height:20px">
                            </lord-icon>
                            Settings</a>
                        <a href="{% url 'logout' %}" class="btn-link text-red-600">

                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg>
                            Logout</a>
                    </div>
                </div>
            </div>
        </aside>
        
 
        <section class="relative flex-1 mt-14 lg:mt-0 flex flex-col justify-between h-dvh overflow-y-auto lg:ml-72 bg-neutral-100" x-init="$el.classList.remove('lg:ml-72')">
            {% block content %}
                <div class="h-auto p-4 sm:p-6">
                    <div class="flex flex-col">
                        <div class="border-b border-neutral-200 p-2 pt-0">
                            <h1 class="h2">Overview</h1>
                        </div>
                        <div class="flex-1 py-6 space-y-4">
                            
                            <div class="card flex items-center gap-4 p-3 pl-4">
                                 <div class="flex gap-3 items-center w-full justify-between flex-wrap">
                                    <div class="flex gap-3 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-brain-icon lucide-brain"><path d="M12 18V5"/><path d="M15 13a4.17 4.17 0 0 1-3-4 4.17 4.17 0 0 1-3 4"/><path d="M17.598 6.5A3 3 0 1 0 12 5a3 3 0 1 0-5.598 1.5"/><path d="M17.997 5.125a4 4 0 0 1 2.526 5.77"/><path d="M18 18a4 4 0 0 0 2-7.464"/><path d="M19.967 17.483A4 4 0 1 1 12 18a4 4 0 1 1-7.967-.517"/><path d="M6 18a4 4 0 0 1-2-7.464"/><path d="M6.003 5.125a4 4 0 0 0-2.526 5.77"/></svg>
                                        <p class="flex-1 text-nutral-800">A good system prompt will help you getting better response</p>
                                        
                                    </div>
                                    <a class="btn-link .go">
                                        Learn more
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card flex flex-col gap-4">
                                <div class="flex-1 flex gap-3 items-center justify-between flex-wrap">
                                    <div class="flex gap-3 items-center">
                                        <h2 class="h2 text-xl">Orders</h2>
                                    </div>
                                    <div class="flex gap-0.5 items-center">
                                        <div class="relative select-none" x-data="{ open: false }">
                                            <div @click="open = !open" class="btn-link justify-between">
                                                <span class="">Download</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-to-line-icon lucide-arrow-down-to-line"><path d="M12 17V3"/><path d="m6 11 6 6 6-6"/><path d="M19 21H5"/></svg>

                                            </div>
                                            <!-- Dropdown -->
                                            <div x-show="open" @click.away="open = false" x-transition x-cloak class="absolute text-sm z-10 w-32 top-11 origin-top bg-white border border-neutral-200 rounded-xl shadow-lg">
                                                <div class="p-1.5" role="none">
                                                    <a href="#" class="btn-link no-underline" role="menuitem">Google Sheets</a>
                                                    <a href="#" class="btn-link no-underline" role="menuitem">Excel</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="relative select-none" x-data="{ open: false, days: [], date: new Date() }">
                                            <div @click="open = !open" class="btn-link justify-between">
                                                <span class="">Today</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>

                                            </div>
                                            <!-- Dropdown -->
                                            <div x-show="open" @click.away="open = false" x-transition x-cloak class="absolute text-sm z-10 w-32 top-11 right-0 origin-top bg-white border border-neutral-200 rounded-xl shadow-lg">
                                                <div class="p-1.5" role="none">
                                                    <a href="?days=3" class="btn-link no-underline" role="menuitem">3 days</a>
                                                    <a href="?days=7" class="btn-link no-underline" role="menuitem">7 days</a>
                                                    <a href="?days=30" class="btn-link no-underline" role="menuitem">30 days</a>
                                                    <a href="?days=100" class="btn-link no-underline" role="menuitem">100 days</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-wrap items-center gap-y-2 gap-x-10">
                                    <p class="data-item text-neutral-800">{{ page.get_orders.count }} Orders</p>
                                </div>
                                {% if page.get_orders.count == 0 %}
                                    <p class="text-sm text-neutral-600 text-center py-2 w-full">If an user made an order with chating, it will appear here</p>
                                {% else %}
                                <div class="relative" x-data="{ open: false }">
                                    <div x-show="open" x-collapse.min.120px x-cloak  class="overflow-x-auto scrollbar-thin">
                                        <table class="w-full  table-auto border-collapse">
                                            <thead class="bg-white border-b border-neutral-200 text-left text-sm text-neutral-700">
                                                <tr>
                                                    <th class="px-4 py-3 w-8">#</th>
                                                    <th class="px-4 py-3">Procut</th>
                                                    <th class="px-4 py-3">Price</th>
                                                    <th class="px-4 py-3">Quantity</th>
                                                    <th class="px-4 py-3">Variation</th>
                                                    <th class="px-4 py-3">Customer</th>
                                                    <th class="px-4 py-3">Email</th>
                                                    <th class="px-4 py-3">Phone</th>
                                                    <th class="px-4 py-3">Address</th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white text-left text-sm font-medium text-neutral-700">
                                                {% for o in page.get_orders %}
                                                <tr>
                                                    <td class="px-4 py-3 w-8">{{ forloop.counter }}</td>
                                                    <td class="px-4 py-3">{{ o.product|truncatechars:30 }}</td>
                                                    <td class="px-4 py-3">{{ o.price }}</td>
                                                    <td class="px-4 py-3">{{ o.quantity }}</td>
                                                    <td class="px-4 py-3">{{ o.variation }}</td>
                                                    <td class="px-4 py-3">{{ o.customer|truncatechars:20 }}</td>
                                                    <td class="px-4 py-3">{{ o.email }}</td>
                                                    <td class="px-4 py-3">{{ o.phone }}</td>
                                                    <td class="px-4 py-3">{{ o.address|truncatechars:60 }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div x-show="! open" class="absolute bottom-9 w-full h-7 bg-gradient-to-b from-transparent to-white"></div>
                                    <button @click="open = ! open" class="btn-link bg-white w-full">
                                        <span x-text="open ? 'Less' : 'More'"></span>
                                        <svg :class="open ? 'rotate-180' : ''" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                                    </button>
                                </div>
                                {% endif %}
                            </div>
                            <div class="card flex flex-col gap-4">
                                <div class="flex-1 flex gap-3 items-center justify-between flex-wrap">
                                    <div class="flex gap-3 items-center">
                                        <h2 class="h2 text-xl">Questions</h2>
                                    </div>
                                    <a href="{% url "settings" page.id %}" class="btn-link .go">
                                        Update info
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                                    </a>
                                </div>
                                <div class="flex flex-wrap items-center gap-y-2 gap-x-10">
                                    <p class="data-item text-neutral-800">{{page.get_questions.count}} questions AI doesn't know the answers to</p>
                                </div>
                                {% if not page.get_questions %}
                                    <div class="relative flex flex-col" x-data="{ open: false }">
                                        <ul x-show="open" x-cloak x-collapse.min.46px class="flex flex-col gap-2 text-sm text-neutral-800">
                                            {% for q in page.get_questions %}
                                            <li>{{ q.question }}</li>
                                            {% endfor %}
                                        </ul>
                                        <div x-show="! open" class="absolute bottom-9 w-full h-7 bg-gradient-to-b from-transparent to-white"></div>
                                        <button @click="open = ! open" class="btn-link bg-white">
                                            <span x-text="open ? 'Less' : 'More'"></span>
                                            <svg :class="open ? 'rotate-180' : ''" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                                        </button>
                                        
                                    </div>
                                {% else %}
                                    <p class="text-sm text-neutral-600 text-center py-2">If an user ask a question that AI doesn't know the answer to, it will be added to this list</p>
                                {% endif %}
                            </div>
                            <div class="card flex flex-col gap-4 p-3 pl-4">
                                 <div class="flex-1 flex gap-3 items-center justify-between flex-wrap">
                                    <div class="flex gap-3 items-center">
                                        <h2 class="h2 text-xl">AI Reply</h2>
                                    </div>
                                    <a class="btn-link .go">
                                        View
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                                    </a>
                                </div>
                                <div class="flex items-center gap-2">
                                    <p class="data-item text-neutral-800">{{ ai_replies }} AI replies last 28 days</p>
                                </div>
                                <div class="w-full h-64">
                                    <canvas class="w-full h-full" id="messages-chart"></canvas>
                                </div>
                            </div>
                            <div class="card flex flex-col gap-4 p-3 pl-4">
                                 <div class="flex-1 flex gap-3 items-center justify-between flex-wrap">
                                    <div class="flex gap-3 items-center">
                                        <h2 class="h2 text-xl">Credits Used</h2>
                                    </div>
                                    <a class="btn-link .go">
                                        View
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                                    </a>
                                </div>
                                <div class="flex items-center gap-2">
                                    <p class="data-item text-neutral-800">{{ credits_used }} Credits used last 28 days</p>
                                </div>
                                <div class="w-full h-64">
                                    <canvas class="w-full h-full" id="credits-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endblock content %}
            <div class="text-sm px-3 py-4 flex items-center justify-center w-full gap-4">
                <p class="text-neutral-600"> © 20025 Chat Autopilot</p>
                <div class="">
                    <a href="/privacy" class="link">Privacy</a> | 
                    <a href="/terms" class="link">Terms</a>
                </div>
            </div>
            
        </section>

        
        
    </div>
</div>
{% endblock body %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const creditsChart = document.querySelector('#credits-chart');
    const messagesChart = document.querySelector('#messages-chart');
    const messagesData = {{ charts.messages|safe }};

    const creditsData = {{ charts.credits|safe }};

    new Chart(creditsChart,  creditsData);
    new Chart(messagesChart, messagesData);
</script>
{% endblock scripts %}

