{% extends "core/dashboard.html" %}

{% block title %}{{ page.page_name }} - Page | Chat Autopilot{% endblock title %}

{% block content %}
<div class="p-6">
    <div class="flex items-center gap-3">
        <img class="w-11 h-11 rounded-full" src="{{ page.picture }}" alt="">
        <div class="flex flex-col">
            <h1 class="text xl text-neutral-900 font-semibold">{{ page.page_name }}</h1>
            <p class="text-sm text-neutral-600 font-medium">{{ page.page_category|default:"" }}</p>
        </div>
    </div>
    <hr class="mb-8">

    <form x-data="{
        system_prompt: '{{ page.system_prompt|escapejs }}',
        business_context: '{{ page.business_context|escapejs }}'
    }"
     action="" method="post" class="flex flex-col gap-6">
        {% csrf_token %}
        <div class="flex flex-col gap-3">
            <h2 class="h2">System Instructions</h2>
            <p class="info">Base instructions for AI behavior</p>
            <textarea x-model="system_prompt" name="system_prompt" id="system_prompt" rows="10" class="input w-full"></textarea>
            <div class="flex justify-between gap-2">
                <a href="{% url 'system_prompt_reset' page.id %}" class="btn">Reset</a>
                <p class="text-neutral-600"><span x-text="system_prompt.length"></span>/ {{ max_system_prompt_length }}</p>
            </div>
        </div>

        <hr class="my-8">

        <div class="flex flex-col gap-3">
            <h2 class="h2">Business Context</h2>
            <p class="info">Data and information about your business</p>
            <textarea x-model="business_context" name="business_context" id="business_context" rows="10" class="input w-full"></textarea>
            <div class="flex justify-between gap-2">
                <a href="{% url 'business_context_reset' page.id %}" class="btn">Reset</a>
                <p class="text-neutral-600"><span x-text="business_context.length"></span>/ {{ max_business_context_length }}</p>

            </div>
        </div>

        <div class="flex items-center justify-end gap-2 mt-4">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock content %}