{% extends "core/dashboard.html" %}

{% block title %}{{ page.page_name }} - Page | Chat Autopilot{% endblock title %}

{% block content %}
<div class="p-6 w-full mx-auto" x-data="{ tab: window.location.hash ? window.location.hash.replace('#', '') : 'charts' }">
    <div class="flex items-center justify-between gap-2">
        <div class="flex items-center gap-3">
            <img class="w-11 h-11 rounded-full" src="{{ page.picture }}" alt="">
            <div class="flex flex-col">
                <h1 class="text xl text-neutral-900 font-semibold line-clamp-1">{{ page.page_name }}</h1>
                <p class="text-sm text-neutral-600 font-medium line-clamp-1">{{ page.credits_per_reply }} Credits/reply</p>
            </div>
        </div>
        <div class="flex items-center gap-4">
            <form action="{% url "page_toggle" page.id %}" method="POST"  x-tooltip="Turn on/off">
                {% csrf_token %}
                <div x-data="{ switchOn: {% if page.enabled %} true {% else %} false {% endif %} }" class="flex items-center justify-center space-x-3">
                    <input id="thisId" type="checkbox" name="switch" class="hidden" :checked="switchOn">

                    <button
                        x-ref="switchButton"
                        type="submit" 
                        @click="switchOn = ! switchOn"
                        :class="switchOn ? 'bg-neutral-900' : 'bg-neutral-200'" 
                        class="relative inline-flex h-4 py-[3px] ml-4 rounded-full focus:outline-none w-7"
                        x-cloak>
                        <span :class="switchOn ? 'translate-x-[15px]' : 'translate-x-[3px]'" class="w-[10px] h-[10px] duration-200 ease-in-out bg-white rounded-full"></span>
                    </button>

                </div>
            </form>
        </div>

    </div>
    
    <hr class="mb-6">

    <div class="mb-12">
        <div class="w-full border-b border-neutral-200">
            <div class="flex gap-1">
                <button x-on:click="tab = 'charts'; window.location.hash = '#charts'" class="p-3" :class="{ 'border-b-2 border-neutral-900': tab == 'charts' }">
                    Charts
                </button>
                <button x-on:click="tab = 'conversations'; window.location.hash = '#conversations'" class="p-3" :class="{ 'border-b-2 border-neutral-900': tab == 'conversations' }">
                    Conversations
                </button>
                <button x-on:click="tab = 'settings'; window.location.hash = '#settings'" class="p-3 " :class="{ 'border-b-2 border-neutral-900': tab == 'settings' }">
                    Settings
                </button>
            </div>
        </div>

        <div x-show="tab == 'conversations'" class="py-8" x-cloak>
            <h2 class="h2 p-2">Conversations</h2>
            <div class="info text-xs ml-2 mb-4">Delete conversation if you want ai to forget about the chat history</div>
            <div class=" max-w-4xl border border-neutral-200 overflow-y-auto rounded-lg">
                <table class="w-full table-auto border-collapse">
                    <thead class="bg-white text-left text-sm font-medium text-neutral-700">
                        <tr>
                            <th class="px-4 py-3">#</th>
                            <th class="px-4 py-3">Last Message</th>
                            <th class="px-4 py-3">User ID</th>
                            <th class="px-4 py-3">Messages</th>
                            <th class="px-4 py-3">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-neutral-200">
                        {% for c in conversations %}
                        <tr class="hover:bg-neutral-50">
                            <td class="px-4 py-2.5 text-sm text-neutral-700" x-text="{{ forloop.counter }} + {{ conversations.paginator.per_page }} * ({{ conversations.number }} - 1)"></td>
                            <td class="px-4 py-2.5">
                                <p class="line-clamp-1 text-sm text-neutral-600">{{ c.messages.first.content|truncatechars:30 }}</p>
                            </td>
                            <td class="px-4 py-2.5">
                                <a target="_blank" href="https://facebook.com/profile.php?id={{ c.user_id }}" class="link">
                                    {{ c.user_id }}
                                </a>
                            </td>
                            <td class="px-4 py-2.5 text-sm text-neutral-700">{{ c.messages.count|default:0 }}</td>
                            <td class="px-4 py-2.5"><a href="{% url "delete_conversation" page_id=page.id conversation_id=c.id %}" class="link text-red-600">Delete</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="px-4 text-center col-span-4 py-4 text-sm text-neutral-700" colspan="5">No conversations</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="flex items-center justify-between w-full mt-4 max-w-4xl">
                <p class="pl-2 text-sm text-neutral-700">{% if conversations.next_page_number > 1 %}<span class="font-medium">{{ conversations.number }} </span> to <span class="font-medium">{{ conversations.paginator.per_page }}</span> of <span class="font-medium">{{ conversations.paginator.count }}</span>{% else %}<span class="font-medium">{{ conversations.paginator.count }}</span>{% endif %} Conversations</p>
                <nav>
                    <ul class="flex items-center text-sm leading-tight bg-white border divide-x rounded-lg h-9 text-neutral-500 divide-neutral-200 border-neutral-200">
                        
                        <li class="h-full">
                            <a href="{% if conversations.has_previous %}?page={{ conversations.previous_page_number }}{% else %}#{% endif %}" class="relative inline-flex items-center h-full px-3 ml-0 rounded-l group hover:text-neutral-900">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg></span>
                            </a>
                        </li>

                            
                            <li class="hidden h-full md:block">
                                <a href="#" class="relative inline-flex items-center h-full px-3 text-neutral-900 group bg-neutral-50">
                                    <span>{{ conversations.number }}</span>
                                    <span class="box-content absolute bottom-0 left-0 w-full h-px -mx-px translate-y-px border-l border-r bg-neutral-900 border-neutral-900"></span>
                                </a>
                            </li>
                            
                            
                        <li class="h-full">
                            <a href="{% if conversations.has_next %}?page={{ conversations.next_page_number }}{% else %}#{% endif %}" class="relative inline-flex items-center h-full px-3 rounded-r group hover:text-neutral-900">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div x-show="tab == 'charts'" class="py-8" x-cloak>
            <div class="flex flex-col lg:flex-row gap-6">
                <div class="w-full">
                    <canvas class="credits-chart w-full h-auto"></canvas>
                </div>
                <div class="w-full">
                    <canvas class="messages-chart w-full h-auto"></canvas>
                </div>
            </div>
        </div>

        <div x-show="tab == 'settings'" class="py-8" x-cloak>
            <form x-data="{
                system_prompt: '{{ page.system_prompt|escapejs }}',
            }"
            action="" method="post" class="flex flex-col gap-6">
                {% csrf_token %}
                <div class="flex flex-col gap-3">
                    <h2 class="h2">System Prompt</h2>
                    <div>
                        <p class="text-neutral-800">Customize AI behavior or chose a <a href="{% url 'templates' %}" class="link">Templates</a></p>
                        <p class="info text-xs py-0"> Edit this text elsewhere, then paste it here.</p>
                    </div>
                    <textarea x-model="system_prompt" name="system_prompt" id="system_prompt" rows="10" class="input w-full p-3"></textarea>
                    <div class="flex justify-between gap-2">
                    <p class="text-neutral-600"><span x-text="{{ settings.CREDITS_PER_REPLY }} + Math.round(countTokens(system_prompt) * {{ settings.CREDITS_PER_TOKEN }})"></span>  Credits/reply</p>

                        <button type="submit" class="btn btn-primary">Save</button>

                    </div>
                </div>
            </form>

            <hr class="my-6">
            <h2 class="h2 mb-2">Dnager Zone</h2>
            <div class="info mb-4">Deleting this page all of its data will be lost.</div>
            <form action="{% url "delete_page" page.id %}" method="POST" onsubmit="return confirm('Are you sure you want to delete this page? This action cannot be undone.');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger flex items-center gap-2">
                    Delete Page</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const creditsChart = document.querySelector('.credits-chart');
    const messagesChart = document.querySelector('.messages-chart');
    const messagesData = {{ charts.messages|safe }};

    const creditsData = {{ charts.credits|safe }};


    new Chart(creditsChart,  creditsData);
    new Chart(messagesChart, messagesData);
</script>

{% endblock content %}