{% extends "core/dashboard.html" %}

{% block title %}System Prompt Templates | Chat Autopilot{% endblock title %}

{% block content %}
    <div class="p-6 md:p-10 max-w-4xl">

        <div class="flex flex-col gap-6">


            <div class="max-w-4xl mx-auto" 
                x-data="{
                    selected: 'F-commerce',
                    modal: false,
                    copied: false,
                    copy() { 
                        this.copied = true;
                        setTimeout(() => this.copied = false, 2000);
                        this.modal = false;
                        toast('Copied to clipboard', { type: 'success' });
                    }
                }">
                <h2 class="h2 mb-4">System Prompt Templates</h2>
                <p class="info text-xs mb-8">Choose a template, edit and paste it into the system prompt.</p>
                
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                    {% for template in templates %}
                        <div @click="modal = true; selected = '{{ template.name }}'" class="w-full p-4 bg-white border border-neutral-200 hover:border-neutral-400 transition-colors rounded-xl cursor-pointer" x-on:click="selected = '{{ template.name }}'">
                            <h3 class="text-lg font-semibold">{{ template.name }}</h3>
                            <p class="text-sm text-neutral-600">{{ template.description }}</p>
                        </div>
                    {% endfor %}
                </div>

                <div class="overlay" x-show="modal" x-cloak></div>
                <div @click.outside="modal = false" class="modal bg-neutral-50" x-show="modal" x-cloak x-transition x-cloak>
                    {% for template in templates %}
                    <div x-data="{ prompt: '{{ template.content|escapejs }}' }" x-show="selected == '{{ template.name }}'">
                        <h3 class="h3">{{ template.name }}</h3>
                        <p class="text-sm text-neutral-600">{{ template.description }}</p>

                        <div class="p-3 mt-4 bg-white border border-neutral-200 rounded-lg h-60 overflow-y-auto">
                            <p x-text="prompt" class="text-base text-neutral-800"></p>

                        </div>
                        <div class="flex items-center justify-end gap-3 mt-4">
                            <div x-on:click="copy(), navigator.clipboard.writeText(prompt)" class="btn btn-primary">
                                <div x-show="!copied" class=" flex items-center gap-2">

                                    <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy-icon lucide-copy"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"/><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/></svg>
                                    Copy
                                </div>

                                <div x-show="copied" class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy-check-icon lucide-copy-check"><path d="m12 15 2 2 4-4"/><rect width="14" height="14" x="8" y="8" rx="2" ry="2"/><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/></svg>
                                    Copied
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                        
            </div>
            
        </div>
                           



    </div>
{% endblock content %}