{% extends 'base.html' %}
{% load static %}

{% block title %}Login | Chat Autopilot{% endblock %}

{% include "partials/toast.html" %}

<script>
    {% if messages %}
        document.addEventListener('DOMContentLoaded', () => {
            {% for message in messages %}
                toast('{{ message }}', { type: '{{ message.tags }}' });
            {% endfor %}
        })
    {% endif %}
</script>

{% block body %}

    <div class="relative flex flex-col gap-6 items-center justify-center min-h-screen p-8">

        <header>
            {% include "core/partials/brand.html" %}
        </header>
                        
        <div class="relative w-full max-w-sm mx-auto lg:mb-0">
            <div class="relative text-center">
                
                <div class="flex flex-col mb-6 space-y-2">
                    <h1 class="text-xl font-semibold tracking-tight">{% block heading %}{% endblock heading %}</h1>
                    <p class="text-sm text-neutral-500">{% block subheading %}{% endblock subheading %}</p>
                </div>

                {% block content %}{% endblock content %}
                
            </div>
            {% block footer %}{% endblock footer %}
        </div>
    </div>
{% endblock %}