{% extends 'auth/base.html' %}
{% load static %}
{% block title %}Connect Facebook Pages | Chat Autopilot{% endblock %}
                
{% block heading %}Facebook Pages to connect{% endblock heading %}
{% block subheading %}Connect your Facebook pages to Chat Autopilot to allow it to reply to messages on your behalf{% endblock subheading %}

{% block content %}
<form action="{% url "connect_page" %}" method="post" class="space-y-3 text-left">
    {% for page in pages %}
        <div class="flex items-center gap-3 bg-neutral-100 rounded-xl p-3">
            <div class="h-9 w-9 rounded-full overflow-hidden">
                <img src="{{ page.picture }}" alt="">
            </div>
            <p>{{ page.name }}</p>
        </div>
    {% endfor %}
    {% csrf_token %}
    <input type="hidden" name="pages" :value="JSON.stringify({{ pages }})">
    
    {% include "auth/partials/submit.html" with text="Connect" %}

</form>

{% endblock content %}

{% block footer %}
<p class="px-8 mt-6 text-sm text-center text-neutral-500">If you want to stop giving permission to Chat Autopilot, you can disconnect at any time</p>
{% endblock footer %}
