{% extends 'auth/base.html' %}
{% load static %}

{% block title %}Login | Chat Autopilot{% endblock %}
                
{% block heading %}Welcome back{% endblock heading %}
{% block subheading %}Enter your credentials to access your account{% endblock subheading %}


{% block content %}
<form action="{% url 'login' %}" method="post" class="space-y-3 text-left">
    {% csrf_token %}
    
    <div class="space-y-1">
        <label for="email" class="text-sm font-medium">Email</label>
        <input type="text" id="email" name="email" placeholder="e.g name@example.com" required class="input w-full" value="{{ email }}">
    </div>

    <div class="space-y-1">
        <div class="flex items-center justify-between">
            <label for="password" class="text-sm font-medium">Password</label>
            <a href="{% url 'password_reset_lander' %}" class="text-xs link">Forgot password?</a>
        </div>
        {% include "auth/partials/password.html" %}
    </div>

    <button type="submit" class="btn btn-primary w-full mt-6">
        Sign In
    </button>

    {% include "auth/partials/oauth.html" %}
    
</form>
{% endblock content %}

{% block footer %}
<p class="mt-6 text-sm text-center text-neutral-500">Don't have an account? <a href="{% url 'register_lander' %}" class="link">Sign Up</a></p>
<p class="px-8 mt-1 text-sm text-center text-neutral-500">By continuing, you agree to our <a class="link" href="/terms">Terms</a> and <a class="link" href="/privacy">Policy</a>.</p>
{% endblock footer %}