{% extends 'auth/base.html' %}
{% load static %}

{% block title %}Reset Password | Chat Autopilot{% endblock %}
                
{% block heading %}Reset Password{% endblock heading %}
{% block subheading %}Enter your credentials to reset your password{% endblock subheading %}


{% block content %}
<form action="{% url 'password_reset_lander' %}" method="post" class="space-y-3 text-left">
    {% csrf_token %}
    <div class="space-y-1">
        <label for="email" class="text-sm font-medium">Email</label>
        <input type="email" id="email" name="email" value="{{ email }}" placeholder="e.g name@example.com" required class="input w-full">
    </div>

    <button type="submit" class="btn btn-primary w-full mt-6">
        Send OTP
    </button>
</form>
{% endblock content %}

{% block footer %}
<p class="px-8 mt-6 text-sm text-center text-neutral-500">A OTP will be sent to your email.</p>
<p class="mt-1 text-sm text-center text-neutral-500">You will be logged out from all devices</p>
{% endblock footer %}

