{% extends 'auth/base.html' %}
{% load static %}

{% block title %}Register | Chat Autopilot{% endblock %}
                
{% block heading %}Create an account{% endblock heading %}
{% block subheading %}Enter your email below to create your account{% endblock subheading %}


{% block content %}
<form action="{% url "register" %}" method="get" class="space-y-3">
    <input type="email" name="email" placeholder="name@example.com" required class="input w-full">
    {% include "auth/partials/submit.html" with text="Continue with Email" %}
    {% include "auth/partials/oauth.html" %}

</form>
{% endblock content %}

{% block footer %}
<p class="mt-6 text-sm text-center text-neutral-500">Already have an account? <a href="{% url 'login' %}" class="link">Log in</a></p>
<p class="px-8 mt-1 text-sm text-center text-neutral-500">By continuing, you agree to our <a class="link" href="/terms">Terms</a> and <a class="link" href="/privacy">Policy</a>.</p>
{% endblock footer %}