{% extends 'auth/base.html' %}
{% load static %}

{% block title %}Verify OTP | Chat Autopilot{% endblock %}
                
{% block heading %}Verify OTP{% endblock heading %}
{% block subheading %}Enter the OTP sent to your email{% endblock subheading %}


{% block content %}
<form action="{% url "verify_otp" %}" method="post" class="space-y-3 text-left">

    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <input type="hidden" password="password", value="{{ password }}">
    <input type="text" name="otp" class="input w-full" placeholder="Enter OTP">
    
    <div class="flex mt-6 justify-end">
        <button type="submit" class="btn btn-primary w-full">Verify</button>
    </div>

</form>
{% endblock content %}

{% block footer %}
<p class="mt-6 text-sm text-center text-neutral-500">Didn't receive the OTP? <span class="ml-2" id="timer"></span></p>
<p class="mt-2 text-sm text-center text-neutral-500">The OTP will expire in 5 minutes</p>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const timer = document.getElementById('timer');
        let seconds = {{ resend_seconds|default:30 }};

        const interval = setInterval(function() {
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = seconds % 60;
            timer.textContent = `resend after ${minutes}:${String(remainingSeconds).padStart(2, '0')}`;
            if (seconds === 0) {
                timer.innerHTML = '<a @click="window.location.reload()" class="link cursor-pointer">Resend</a>';
                clearInterval(interval);
            }
            seconds--;
        }, 1000);
    });
</script>
{% endblock footer %}